<h1>Add new disease</h1>
<form [formGroup]="diseaseForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <div class="autocompletelocation">
            <label>Search disease location</label>
            <input type="text"
                aria-label="Number"
                name="autocompletelocation"
                matInput
                formControlName="diseaseControlLocation"
                [matAutocomplete]="autoLoc">
         
            <mat-autocomplete #autoLoc="matAutocomplete" [displayWith]="displayFn" >
                <mat-option *ngFor="let option of filteredOptions | async"  [value]="option">
                {{option.diseaseLocation}}
                </mat-option>
            </mat-autocomplete>
        </div>
    </mat-form-field>
     <br/>
    <!-- <mat-form-field>
        <div class="autocompletename">
            <label>Search disease name</label>
            <input type="text"
                aria-label="Number"
                name="autocompletename"
                matInput
                formControlName="diseaseControlName"
                [matAutocomplete]="autoName">
         
            <mat-autocomplete #autoName="matAutocomplete" [displayWith]="displayFn1" >
                <mat-option *ngFor="let option of filterednames | async"  [value]="option">
                {{option.name}}
                </mat-option>
            </mat-autocomplete>
        </div> 
    </mat-form-field> -->
    <p>
        <button type="submit">Submit</button>
    </p> 
</form>
{{ diseaseForm.value | json }}